@font-face {
  font-family: Avengers;
  src: url('AVENGEANCE HEROIC AVENGER AT.ttf') format('truetype'), url('AVENGEANCE HEROIC AVENGER AT.otf') format('opentype');
  --font001: Avengers;
}

  :root{
    --cor01: #F0141E; /* Vermelho */
    --cor02: #021127; /* Azul escuro*/
    --cor03: #022844; /* Azul mais claro*/

  }

  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #021127;
  }

.estrutura{
  display: grid;
  grid: 
  "header header header" 180px
  ". carrossel ." 250px
  ". content ." 
  / 1fr 3fr 1fr;
}

/* Header */

.header{
  grid-area: header;
  background-color: #F0141E;
  padding: 8px;
  text-align: center;
}

.header img{
  border: 1px solid white;
}


/* Carrossel auto */

.carrossel {
    grid-area: carrossel;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    text-align: center;

  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    max-width: 50%;
    height: auto;
    text-align: center;
    display: inline-block;
  }
  
  .active {
    display: block;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .subtitulos{
    font-family: 'Avengers', 'Turret Road', sans-serif;;
    font-weight: medium;
    color: white;
    background-color: #F0141E;
    padding: 5px 0 5px 10px;
  }

  .segundo-subtitulo{
    margin-top: 20px;
  }

  /* conteúdo */  
  
  .content{
    grid-area: content;
    background-color: #022844;

  }

  .cri{
    margin-bottom: 15px;
  }









  /* Carrossel manual */
  
  .container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 15px;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .criadores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .criadores img{
    margin: 10px;
  }

  .criadores p{
    color: white;
    font-size: 1.25em;
    text-align: justify;
    margin: 0 11px 0 11px;
  }